
.auth-form{
  display: flex;
  padding: 25px;
  align-content: center;
  flex-direction: column;
  margin-right: 10vw;
  background-color: #383838;
  border-radius: 25px;
  box-shadow: #000000 10px 10px 0px;
}