<div class="container">
        <form class="auth-form">
            <p class="header"> Sign In </p>
            <input class="form-element" type="text" name="username" placeholder="Username">
            <input class="form-element"  type="password" name="password" placeholder="Password">
            <button class="form-element"  type="submit">Sign In</button>
            <p class="form-element">Don't have an account? <a href="">Sign Up</a></p>
            <p class="form-element">Sign Up with</p>
            <button class="form-element google">Google</button>
        </form>
</div>