<form class="auth-form" [formGroup]="signInForm">
    <h1 class="auth-form__title">Sign In</h1>
    <input class="auth-form__input" maxlength="20" type="text" placeholder="Username" formControlName="username">
    <input class="auth-form__input auth-form__input--bottom" maxlength="32" type="password" placeholder="Password" formControlName="password">
    <button class="auth-form__button" type="submit">Sign In</button>
    <button class="auth-form__button">
        <span>Continue with Google&nbsp;</span>
        <img class="auth-form__google-oAuth"
             src="https://res.cloudinary.com/anitalk/image/upload/v1712433834/work/logos/Google__G__logo_e9dze4.svg"
             alt="">
    </button>
    <small class="auth-form__small auth-form__small--top">Forgot Password?
        <a (click)="resetPassword()">Reset Password</a>
    </small>
    <small class="auth-form__small">
        Don\'t have an account? <a routerLink="/auth/sign-up">Sign Up</a>
    </small>
</form>